body {
    margin-left: 5%;
}
input[type="text"] {
    font-size: 14pt;
    border: solid black 2px;
    width: 300px;
}
input[type="button"] {
    font-size: 13pt;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 100px;
}