body {
    margin-top: 5%;
    margin-left: 5%;
}
.title {
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-size: 20pt;
    font-weight: bold;
    width: 300px;
}
input[type = "button"] {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 60px;
    font-size: 12pt;
}
input[type = "text"] {
    background-color: white;
    border: solid black 2px;
    border-radius: 10px;
    width: 95%;
    font-size: 14pt;
}